body {
    font-size: 16px;
    background-color: #847577;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    font-family: "Arial", Gadget, sans-serif;

}

header {
    background-color: #f4a261;
    color: #14213d;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    width: 100px;
    height: auto;
}

h1 {
    color: #242423;
    font-family: 'Pacifico', cursive;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: #6d6875;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    display: block;
    padding: .5rem;
}

nav a:hover {
    text-shadow: 0.5px 0.5px #242423;
    color: #0f1113;
    background: #ceb5a7;
    box-shadow: 0 0 10px;
}

a:focus,

.active {
    color:#242423(116, 73, 216);
    border-bottom: 1px solid #faf3dd;
    padding-bottom: .1rem;
}

header nav ul li a:hover {
    color: #6d6875;
}

.hero-image {
    margin-bottom: 40px;
    position: relative;
    height: 250px;
}

.hero-image > .action {
    position: absolute;
    top: calc(50% - 20px);
    padding: 5px 20px;
    left: 40px;
    color: var(--secondary-color);
    background: rgba(0,0,0,0.5);
    transition: all 0.5s;
    animation: Action 1s;
}

.action > h3 {
    color: #f77f00;
    font-family: 'Pacifico', cursive;
}

.action {
    opacity: 0.75;
    background-color: #faf3dd;
    padding-bottom: 0.5rem;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



@keyframes Action {
    from {
        left: -50px;
        opacity: 0;
    }
    50% {
        left: -50px;
        opacity: 0;
    }
    to {
        left: 40px;
        opacity: 0.5;
    }
}

.wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

main section p {
    margin: 5px;
    border: 1px solid #003049;
    padding: 5px;
    background-color: #b7b7a4;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f4a261;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding: .8rem;
}

.contact {
    margin-left: 0%;
}

.div {
    display: block;
}

.icon {
    padding-left: 0;
    display: inline-block;
}

.indent{
    margin-left: 4%;
}


.social {
    text-align: right;

}


.social img {
    width: 70px;
    height: auto;
}