body {
    font-size: 16px;
    background-color: #847577;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    font-family: "Arial", Gadget, sans-serif;

}

main {
    background-color: antiquewhite;
    padding: 0.75em;
}

header {
    background-color: #f4a261;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.75rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;



}

header img {
    width: 100px;
    height: auto;

}

h1 {
    color: #242423;
    font-family: 'Pacifico', cursive;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: #6d6875;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    display: block;
    padding: .5rem;
}

nav a:hover {
    text-shadow: 0.5px 0.5px #242423;
    color: #0f1113;
    background: #ceb5a7;
    box-shadow: 0 0 10px;
}

a:focus,

.active {
    color: #242423;
    border-bottom: 1px solid #faf3dd;
    padding-bottom: .1rem;
}

header nav ul li a:hover {
    color: #6d6875;
}

.hero-image {
    margin-bottom: 40px;
    position: relative;
    height: 250px;
}

.hero-image>.action {
    position: absolute;
    top: calc(50% - 20px);
    padding: 5px 20px;
    left: 40px;    
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    animation: Action 1s;
}

.action>h3 {
    color: #f77f00;
    font-family: 'Pacifico', cursive;
}

.action {
    opacity: 0.75;
    background-color: #faf3dd;
    padding-bottom: 0.5rem;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}



@keyframes Action {
    from {
        left: -50px;
        opacity: 0;
    }

    50% {
        left: -50px;
        opacity: 0;
    }

    to {
        left: 40px;
        opacity: 0.5;
    }
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-rows: 250px 250px 150px;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    

    
}



.pic1:hover {
    transition: transform .2s;
    /* animation */
    transform: scale(1.1)
}

.pic2:hover {
    transition: transform .2s;
    /* animation */
    transform: scale(1.1)
}

.pic1 {
    grid-column-end: -1;
    position: relative;
    left: 9px;

}

.pic2 {
    position: absolute;
    left: 20px;
}

.family {
    grid-column: 1/3;
    text-align: center;
    line-height: 1rem;
    margin: 1px;
    border: 2.5px solid #003049;
    padding: 3px;
    background-color: #b7b7a4;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 8px;


}

h2 {
    font-family: 'EB Garamond', 'Helvetica', 'sans-serif';
    color: rgb(12, 9, 10);
    padding: 0.25rem;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 0.5px;
}

.family>h2 {
    text-decoration: none;
}


main section p {
    margin: 5px;
    border: 0.2px solid #003049;
    padding: 5px;
    background-color: #b7b7a4;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 3px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f4a261;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding: .8rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.contact {
    margin-left: 0%;
}

.div {
    display: block;
}

.icon {
    padding-left: 0;
    display: inline-block;
}

.indent {
    margin-left: 4%;
}


.social {
    text-align: right;

}


.social img {
    width: 70px;
    height: auto;
}

@media screen and (max-width: 550px) {
    .______ {
      display: block;
    }
}
 

.wrapper2 {
    position: relative;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    
}

.wrapper3 {
    position: relative;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}
.pic3:hover {
    transition: transform .2s;
    /* animation */
    transform: scale(1.1)
}

.pic4:hover {
    transition: transform .2s;
    /* animation */
    transform: scale(1.1)
}
.pic5:hover {
    transition: transform .2s;
    /* animation */
    transform: scale(1.1)
}

.pic6:hover {
    transition: transform .2s;
    /* animation */
    transform: scale(1.1)

}

.amenities {
    font-size: 1.5rem;
}


.pic7:hover,
.pic8:hover,
.pic9:hover,
.pic10:hover {
    transition: transform .8s;
    transform: scale(1.1)
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

}


.grid-item4,
.grid-item6 {
    
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px;
    padding: 10px;
}
.grid-item1,
.grid-item2,
.grid-item3 {
    grid-template-rows: 2rem 5rem;
}

.pic7,
.pic8,
.pic9,
.pic10 {
    align-content: center;
    padding: 10px;
    margin: 50px 10px;
}  
  .grid-item2 {
      font-size: 1.5rem;
      margin: 0.5px;
      
  }
  .grid-item5 {
    font-size: 1rem;
    margin: 2px;
    border: 1px;
    text-align: center;
      
  }

  .grid-item2>h2 {
      margin: 2rem;
      border: 1rem;
      padding: 1rem;
  }
  