body {
    text-emphasis: 16px;
    background-color: #847577;
}
header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

main section p {
    margin: 5pxs;
    border: 1px #003049;
    padding: 5px;
    background-color: #003049;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}